.idea/
.obj/
.Library.Api/bin/
.Library.Api/obj/
.Library.Core/obj/
.Library.Core/bin/
.Library.Core/Migrations/
Library.Core/obj/Library.Api.EntityFrameworkCore.targets
Library.Core/obj/Debug/netcoreapp3.1/Library.Core.genruntimeconfig.cache
Library.Core/obj/Debug/netcoreapp3.1/Library.Core.dll
Library.Core/obj/Library.Core.csproj.EntityFrameworkCore.targets
Library.Core/obj/Library.Core.csproj.nuget.cache
Library.Core/obj/Library.Core.csproj.nuget.dgspec.json
Library.Core/obj/Library.Core.csproj.nuget.g.props
Library.Core/obj/Library.Core.csproj.nuget.g.targets
Library.Core/obj/Library.Core.EntityFrameworkCore.targets
Library.Core/obj/project.assets.json
Library.Core/obj/project.nuget.cache
Library.Core/obj/project.packagespec.json
obj/Local.Core.EntityFrameworkCore.targets
Library.Core/obj/Debug/netcoreapp3.1/Library.Core.csprojAssemblyReference.cache
Library.Core/obj/Debug/netcoreapp3.1/Library.Core.csproj.FileListAbsolute.txt
Library.Core/obj/Debug/netcoreapp3.1/Library.Core.csproj.CoreCompileInputs.cache
Library.Core/obj/Debug/netcoreapp3.1/Library.Core.AssemblyInfo.cs
Library.Core/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Library.Core/obj/Debug/netcoreapp3.1/Library.Core.assets.cache
Library.Core/obj/Debug/netcoreapp3.1/Library.Core.AssemblyInfoInputs.cache
Library.Core/Migrations/ApplicationDbContextModelSnapshot.cs
Library.Core/Migrations/20200531185314_UpdateCoffee.Designer.cs
Library.Core/Migrations/20200531185314_UpdateCoffee.cs
Library.Core/Migrations/20200531162246_AddOriginCountriesAndRefresh.Designer.cs
Library.Core/Migrations/20200531162246_AddOriginCountriesAndRefresh.cs
Library.Core/Migrations/20200531155348_AddCoffeesAndProviders.Designer.cs
Library.Core/Migrations/20200531155348_AddCoffeesAndProviders.cs
Library.Core/Migrations/20200531151912_InitialCreateSecond.Designer.cs
Library.Core/Migrations/20200531151912_InitialCreateSecond.cs
Library.Core/Migrations/20200529163027_Initial.Designer.cs
Library.Core/Migrations/20200529163027_Initial.cs
Library.Core/bin/Debug/netcoreapp3.1/Library.Core.runtimeconfig.json
Library.Core/bin/Debug/netcoreapp3.1/Library.Core.runtimeconfig.dev.json
Library.Core/bin/Debug/netcoreapp3.1/Library.Core.pdb
Library.Core/bin/Debug/netcoreapp3.1/Library.Core.dll
Library.Core/bin/Debug/netcoreapp3.1/Library.Core.deps.json
Library.Api/obj/project.packagespec.json
Library.Api/obj/project.nuget.cache
Library.Api/obj/project.assets.json
Library.Api/obj/Library.Api.csproj.nuget.g.targets
Library.Api/obj/Library.Api.csproj.nuget.g.props
Library.Api/obj/Library.Api.csproj.nuget.dgspec.json
Library.Api/obj/Library.Api.csproj.nuget.cache
Library.Api/obj/Library.Api.csproj.EntityFrameworkCore.targets
Library.Api/obj/Debug/netcoreapp3.1/staticwebassets/Library.Api.StaticWebAssets.xml
Library.Api/obj/Debug/netcoreapp3.1/staticwebassets/Library.Api.StaticWebAssets.Manifest.cache
Library.Api/obj/Debug/netcoreapp3.1/Library.Api.RazorTargetAssemblyInfo.cache
Library.Api/obj/Debug/netcoreapp3.1/Library.Api.pdb
Library.Api/obj/Debug/netcoreapp3.1/Library.Api.MvcApplicationPartsAssemblyInfo.cs
Library.Api/obj/Debug/netcoreapp3.1/Library.Api.MvcApplicationPartsAssemblyInfo.cache
Library.Api/obj/Debug/netcoreapp3.1/Library.Api.genruntimeconfig.cache
Library.Api/obj/Debug/netcoreapp3.1/Library.Api.dll
Library.Api/obj/Debug/netcoreapp3.1/Library.Api.csprojAssemblyReference.cache
Library.Api/obj/Debug/netcoreapp3.1/Library.Api.exe
Library.Api/obj/Debug/netcoreapp3.1/Library.Api.csproj.FileListAbsolute.txt
Library.Api/obj/Debug/netcoreapp3.1/Library.Api.csproj.CoreCompileInputs.cache
Library.Api/obj/Debug/netcoreapp3.1/Library.Api.csproj.CopyComplete
Library.Api/obj/Debug/netcoreapp3.1/Library.Api.assets.cache
Library.Api/obj/Debug/netcoreapp3.1/Library.Api.AssemblyInfoInputs.cache
Library.Api/obj/Debug/netcoreapp3.1/BooksLibrary.csprojAssemblyReference.cache
Library.Api/obj/Debug/netcoreapp3.1/Library.Api.AssemblyInfo.cs
Library.Api/obj/Debug/netcoreapp3.1/BooksLibrary.assets.cache
Library.Api/obj/Debug/netcoreapp3.1/BooksLibrary.AssemblyInfoInputs.cache
Library.Api/obj/Debug/netcoreapp3.1/BooksLibrary.AssemblyInfo.cs
Library.Api/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Library.Api/obj/BooksLibrary.csproj.nuget.g.targets
Library.Api/obj/BooksLibrary.csproj.nuget.g.props
Library.Api/obj/BooksLibrary.csproj.nuget.dgspec.json
Library.Api/obj/BooksLibrary.csproj.nuget.cache
Library.Api/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
Library.Api/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
Library.Api/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Library.Api/bin/Debug/netcoreapp3.1/Pomelo.JsonObject.dll
Library.Api/bin/Debug/netcoreapp3.1/Pomelo.EntityFrameworkCore.MySql.dll
Library.Api/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Library.Api/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
Library.Api/bin/Debug/netcoreapp3.1/MySqlConnector.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.UserSecrets.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
Library.Api/bin/Debug/netcoreapp3.1/Library.Core.pdb
Library.Api/bin/Debug/netcoreapp3.1/Library.Core.dll
Library.Api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
Library.Api/bin/Debug/netcoreapp3.1/Library.Api.runtimeconfig.json
Library.Api/bin/Debug/netcoreapp3.1/Library.Api.runtimeconfig.dev.json
Library.Api/bin/Debug/netcoreapp3.1/Library.Api.pdb
Library.Api/bin/Debug/netcoreapp3.1/Library.Api.exe
Library.Api/bin/Debug/netcoreapp3.1/Library.Api.dll
Library.Api/bin/Debug/netcoreapp3.1/Library.Api.deps.json
Library.Api/bin/Debug/netcoreapp3.1/FluentValidation.dll
Library.Api/bin/Debug/netcoreapp3.1/FluentValidation.DependencyInjectionExtensions.dll
Library.Api/bin/Debug/netcoreapp3.1/FluentValidation.AspNetCore.dll
Library.Api/bin/Debug/netcoreapp3.1/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
Library.Api/bin/Debug/netcoreapp3.1/AutoMapper.dll
Library.Api/bin/Debug/netcoreapp3.1/appsettings.json
Library.Api/bin/Debug/netcoreapp3.1/appsettings.Development.json
.vs/BooksLibrary/v16/.suo
.vs/BooksLibrary/DesignTimeBuild/.dtbcache.v2
Library.Core/obj/Debug/netcoreapp3.1/Library.Core.pdb
Library.Core/obj/Debug/netcoreapp3.1/Library.Core.pdb
*.dll
*.pdb
Library.Core/obj/Debug/netcoreapp3.1/Library.Core.pdb
Library.Core/Migrations/20200603184749_AddUsers.cs
Library.Core/obj/Debug/netcoreapp3.1/Library.Core.pdb
Library.Core/obj/Debug/netcoreapp3.1/Library.Core.pdb
UnitTests/obj/UnitTests.csproj.nuget.dgspec.json
UnitTests/obj/UnitTests.csproj.nuget.cache
UnitTests/obj/project.packagespec.json
UnitTests/obj/project.assets.json
UnitTests/obj/Debug/netcoreapp3.1/UnitTests.genruntimeconfig.cache
UnitTests/obj/Debug/netcoreapp3.1/UnitTests.csprojAssemblyReference.cache
UnitTests/obj/UnitTests.csproj.nuget.g.props
UnitTests/obj/UnitTests.csproj.nuget.g.targets
UnitTests/obj/Debug/netcoreapp3.1/UnitTests.csproj.FileListAbsolute.txt
UnitTests/obj/Debug/netcoreapp3.1/UnitTests.csproj.CoreCompileInputs.cache
UnitTests/obj/Debug/netcoreapp3.1/UnitTests.csproj.CopyComplete
UnitTests/obj/Debug/netcoreapp3.1/UnitTests.assets.cache
UnitTests/obj/Debug/netcoreapp3.1/UnitTests.AssemblyInfoInputs.cache
UnitTests/obj/Debug/netcoreapp3.1/UnitTests.AssemblyInfo.cs
UnitTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
UnitTests/bin/Debug/netcoreapp3.1/UnitTests.runtimeconfig.json
UnitTests/bin/Debug/netcoreapp3.1/UnitTests.runtimeconfig.dev.json
UnitTests/bin/Debug/netcoreapp3.1/UnitTests.deps.json
UnitTests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
Library.Core/obj/Debug/netcoreapp3.1/Library.Core.pdb
UnitTests/bin/Debug/netcoreapp3.1/appsettings.Development.json
UnitTests/bin/Debug/netcoreapp3.1/appsettings.json
UnitTests/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
